.cardContainer
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    margin: 30px;
}

.card
{
    width: 200px;

}

.cardInformations
{
    margin-top: 10px;
    border-radius: 7px;
    padding: 10px;
}

.dashboardContainer
{
    display: grid;
    grid-template-columns: 1fr 4fr;
}