.marketsContainer
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
}

.marketsMain
{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
}

.marketsStatus
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 0;
}

.marketsStatusSpan
{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.marketsStatusSpan span
{
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
}