.userPanel
{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 30px 10px;
    background-color: #fff;
    border-radius: 7px;
}

.linkStyle
{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 5px;

}